[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User={{ etcd_user }}
Type=notify
Environment="ETCD_DATA_DIR=/etcd"
Environment="ETCD_NAME={{ inventory_hostname }}"
Environment="ETCD_INITIAL_CLUSTER={% set cluster = [] %}{% for host in groups['etcd_servers'] %}{% if cluster.append(host+'=http://'+hostvars[host]['ansible_eth0']['ipv4']['address']+':2380') %}{% endif %}{% endfor %}{{ cluster | join(',') }}"
Environment="ETCD_INITIAL_CLUSTER_STATE=new"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ ansible_host }}:2380"
Environment="ETCD_LISTEN_PEER_URLS=http://{{ ansible_host }}:2380"
Environment="ETCD_LISTEN_CLIENT_URLS=http://{{ ansible_host }}:2379,http://127.0.0.1:2379"
Environment="ETCD_ADVERTISE_CLIENT_URLS=http://{{ ansible_host }}:2379"
Environment="ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_token }}"
ExecStart=/usr/local/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
